### while
- it exicutes block or set of instruction  untill the condetion is false
- while we dont the range
- exicute faster than the for loop
- user incremantation

In [ ]:
# while syntax
inilization
while condition:
    stmts
    inc/decrement

In [3]:
n=2
while n<=5:
    print(" vasavi clg")
    n=n+1

 vasavi clg
 vasavi clg
 vasavi clg
 vasavi clg

In [4]:
i=10
while i>=0:
    print(i,end=" ")
    i=i-1

10 9 8 7 6 5 4 3 2 1 0

In [6]:
# i/p 1234
# o/p digit count:4
s=int(input())
c=0
while(s!=0): #1234!=0 123!=0 12!=0 1!=0
    c=c+1 #1234%10=4 123%10=3 12%10=2
    s=s//10
print("\ndigit count:",c)

123456789

digit count: 9

In [11]:
# check the give number is polindrome or not
# 121--121
# mom--mom
n=int(input())
temp=n
rev=0
while(n!=0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
if(temp==rev):
    print("palindrome")
else:
    print("not palindrome")

121
palindrome

In [ ]:
# syntax:: nested for loop
for iter in range(start,end,step):
    for iter in range(start,end,step):
        statement1
        statementn

In [ ]:
# matrix format
- rows,colums
- 2dimentions
    1 2 3
    1 2 3

In [12]:
for row in range(1,5):
    for column in range(1,5):
        print(row,end=" ")
    print()# new line

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [13]:
for row in range(1,5):
    for column in range(1,9):
        print("*",end=" ")
    print()# new line

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [19]:
for row in range(1,6):
    for column in range(1,row+1):
     print("*",end=" ")
    print()# new line

*
* *
* * *
* * * *
* * * * *

In [26]:
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [30]:
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line
for row in range(1,6):
    for column in range(1,row+1):
     print("*",end=" ")
    print()# new line

* * * * * *
* * * * *
* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *

In [39]:
# 1-10
# prime numbers: 2,3,5,7
st=int(input())
en=int(input())
for num in range(st,en+1): #num=1 num=2 num=3 num=4
    c=0
    for var in range(1,num+1):#(1,1)(1,2)(1,3)(1,4)
        if num%var==0:
            c+=1
    if c==2:
        print(num,end=" ")

1
10
2 3 5 7

In [45]:
## print 1 to 10 tables 
i=1
while i<=10:
    j=1
    while j<=10:
        print(i,"*",j,"=",i*j)
        j+=1
    print()
    i+=1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

# nested while
-m loop inside another loop

In [ ]:
# syntax
initilization
while condition:
    statements
    incr/decr
    while condition:
        statements
        incr/decr

### jump statements
- we called as unconditional jumps
- break
- continue
- pass

### break
- terminates the current loop statements
- break is a keyword

In [47]:
for i in "python":
    if i=='h':
        break
    print(i)

p
y
t

In [ ]:
n=1
while n<=10:
    print(n)

### continue
- it skips the current iteration and continue the next iteration
- continue is also a keyword

In [53]:
for i in range(10):
    if i==6:
        continue
        print("fdp")
    print(i)

0
1
2
3
4
5
7
8
9

In [54]:
### print odd number using even number condition using continue statement
for i in range(1,10):
    if i%2==0:
        continue
    print(i,end=" ")

1 3 5 7 9

### pass 
- it is a keyword
- when we need condition scientifically correct need to changes another operation
- it is a null operator
- pass statement we use to create empty class also

In [56]:
s="python"
for i in s:
    if i=='h':
        pass
        print("pass exicuted")
    print(i)

p
y
t
pass exicuted
h
o
n

### strings
- string is a group of character
- string is derived datatype and immutable
- all strings are return a new values

In [61]:
a="vasavicollege"
print(type(a))

<class 'str'>

In [62]:
print(len(a))

13

In [63]:
print(min(a))
print(max(a))
print(sorted(a))
#print(sum(a))

a
v
['a', 'a', 'c', 'e', 'e', 'g', 'i', 'l', 'l', 'o', 's', 'v', 'v']

In [60]:
s="python"
s1="workshop"
print(s+s1)
print(s,s1)
print(s*s1)

pythonworkshop
python workshop

TypeError: can't multiply sequence by non-int of type 'str'

In [1]:
### slicing syntax::(start:end:step)
# positive  indexing(left to right)
# negative indexing(right to left)
s="python workshop"
print(len(s))
print(s[0])
print(s[5])
print(s[14])
print(s[-1])
print(s[-2])
print(s[::])
print(s[::-1])
print(s[0:4])
print(s[5:12])
print(s[-1:-5])

15
p
n
p
p
o
python workshop
pohskrow nohtyp
pyth
n works

In [2]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [3]:
s='vasavi college'
s="vasavi college"

s1='''i am from apssdc
i am rakesh'''
s2="""engineering
department
sgfysfbsjkhj"""

In [4]:
print(s1)

i am from apssdc
i am rakesh

In [5]:
print(s2)

engineering
department
sgfysfbsjkhj

In [6]:
print(len(s2))

35

In [7]:
p="apssdc workshop"
print(p.capitalize())

Apssdc workshop

In [11]:
n="bvfugvdshdfg"
print(n)
print(n.upper())
print(p.lower())

bvfugvdshdfg
BVFUGVDSHDFG
apssdc workshop

In [10]:
m="faculty development program"
print(m)
print(m.title())

faculty development program
Faculty Development Program

In [12]:
s2="workshop"
s3="WORKSHOP"
s4="workshop"
print(s2.islower(),s3.isupper(),s4.isupper())

True True False

In [17]:
s7="India Is My Country"
s7.istitle()

True

In [16]:
s7="india is my country"
s7.istitle()

False

In [18]:
s8=" "
s8.isspace()

True

In [19]:
s8=""
s8.isspace()

False

In [20]:
# isdigit-which is used to identify the digits in a give string 
#isalpha-which returns true,alphabets presensts in a given string
r="python3"
r.isalpha()

False

In [21]:
r.isdigit()

False

In [22]:
s="34546789"
s.isalnum()

True

In [23]:
s="python  is latest version and popular version in present market and today is a thursday and iam doing python "
print()
s.split()

['python',
 'is',
 'latest',
 'version',
 'and',
 'popular',
 'version',
 'in',
 'present',
 'market',
 'and',
 'today',
 'is',
 'a',
 'thursday',
 'and',
 'iam',
 'doing',
 'python']

In [24]:
python s="is latest version and popular version in present market and today is a thursday and iam doing  python "
s.split('t')

['py',
 'hon is la',
 'es',
 ' version and popular version in presen',
 ' marke',
 ' and ',
 'oday is a ',
 'hursday and iam doing  py',
 'hon ']

In [25]:
s="python  @is latest version @and popular version in present @market and @today is a thursday @and iam doing @python "
s.split('@')

['python  ',
 'is latest version ',
 'and popular version in present ',
 'market and ',
 'today is a thursday ',
 'and iam doing ',
 'python ']

In [26]:
s="rakesh"
s2=''
for i in s:
    if i.islower():
        s2 +=i.upper()
    else:
        s2 +=i.lower()
print(s2)

RAKESH

In [44]:
#swapcases="rakesh"
s="rakesrh rakesh rakesh"
s.swapcase()

'RAKESRH RAKESH RAKESH'

In [45]:
#count:: to know the number of occurences
s.count('a')

3

In [46]:
s.index('r')

0

In [47]:
s.rindex('r')

15

In [48]:
#find--it will return index position of the character
s.find('t')

-1

In [49]:
#replace-used to replace the old character
#strip-used to remove white spaces by default
d="hai vasavi college"
d.replace('bye','hai')

'hai vasavi college'

In [50]:
d="   hello sdc   "
print(d)

   hello sdc

In [54]:
d.lstrip()

'hello sdc   '

In [55]:
d.strip()

'hello sdc'

In [56]:
d.rstrip()

'   hello sdc'

In [57]:
# join
# center
# strat switch
# end switch
s=" thursday "
'@'.join(s)

' @t@h@u@r@s@d@a@y@ '

In [58]:
s=" thursday "
'.'.join(s)

' .t.h.u.r.s.d.a.y. '

In [59]:
s=" thursday "
''.join(s)

' thursday '

In [60]:
s.center(1)

' thursday '

In [61]:
s2=" today is the 3rd day "
len(s2)
s2.zfill(25)

'000 today is the 3rd day '

In [64]:
s2.startswith('to')

False

In [65]:
s2.startswith('day')

False

In [69]:
s2.endswith('to')

False

### data structures
- list
  - it is one of the data structure in python.
  - list is mutable
  - represented with []
- tuple
- dictionaries
- DT are two types:
    -mutable
         -we can change at any time after its declaration.
         -ex:list,dictionaries
    -immutable
          -we can't change it once it declared.
          -ex:string,tuple

In [73]:
li=[2,4,7,4,9,1]
print(li)

[2, 4, 7, 4, 9, 1]

In [74]:
len(li)

6

In [75]:
print("length of the list",len(li))
print("max one of the list",max(li))
print("min one of the list",min(li))

length of the list 6
max one of the list 9
min one of the list 1

In [76]:
a=['apple',5,8,24,6]
b=[4,8,'today',4]
a+b #concatination

['apple', 5, 8, 24, 6, 4, 8, 'today', 4]

In [77]:
(a+b)*3

['apple',
 5,
 8,
 24,
 6,
 4,
 8,
 'today',
 4,
 'apple',
 5,
 8,
 24,
 6,
 4,
 8,
 'today',
 4,
 'apple',
 5,
 8,
 24,
 6,
 4,
 8,
 'today',
 4]

In [78]:
(a+b)*2

['apple',
 5,
 8,
 24,
 6,
 4,
 8,
 'today',
 4,
 'apple',
 5,
 8,
 24,
 6,
 4,
 8,
 'today',
 4]

In [79]:
'apple' in a

True

In [80]:
'today' not in a

True

In [85]:
names=['siddu','manikanta','verru','ravi','hari']
names[0]
names[4]

'hari'

In [86]:
li1=['vasavi','collega','student','hostel']

In [87]:
li1[2:]

['student', 'hostel']

In [88]:
li1[2:5]

['student', 'hostel']

In [89]:
li1[:2]

['vasavi', 'collega']