### while
- it exicutes block or set of instruction  untill the condetion is false
- while we dont the range
- exicute faster than the for loop
- user incremantation

In [ ]:
# while syntax
inilization
while condition:
    stmts
    inc/decrement

In [3]:
n=2
while n<=5:
    print(" vasavi clg")
    n=n+1

 vasavi clg
 vasavi clg
 vasavi clg
 vasavi clg

In [4]:
i=10
while i>=0:
    print(i,end=" ")
    i=i-1

10 9 8 7 6 5 4 3 2 1 0

In [6]:
# i/p 1234
# o/p digit count:4
s=int(input())
c=0
while(s!=0): #1234!=0 123!=0 12!=0 1!=0
    c=c+1 #1234%10=4 123%10=3 12%10=2
    s=s//10
print("\ndigit count:",c)

123456789

digit count: 9

In [11]:
# check the give number is polindrome or not
# 121--121
# mom--mom
n=int(input())
temp=n
rev=0
while(n!=0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
if(temp==rev):
    print("palindrome")
else:
    print("not palindrome")

121
palindrome

In [ ]:
# syntax:: nested for loop
for iter in range(start,end,step):
    for iter in range(start,end,step):
        statement1
        statementn

In [ ]:
# matrix format
- rows,colums
- 2dimentions
    1 2 3
    1 2 3

In [12]:
for row in range(1,5):
    for column in range(1,5):
        print(row,end=" ")
    print()# new line

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [13]:
for row in range(1,5):
    for column in range(1,9):
        print("*",end=" ")
    print()# new line

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [19]:
for row in range(1,6):
    for column in range(1,row+1):
     print("*",end=" ")
    print()# new line

*
* *
* * *
* * * *
* * * * *

In [26]:
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [30]:
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line
for row in range(1,6):
    for column in range(1,row+1):
     print("*",end=" ")
    print()# new line

* * * * * *
* * * * *
* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *

In [39]:
# 1-10
# prime numbers: 2,3,5,7
st=int(input())
en=int(input())
for num in range(st,en+1): #num=1 num=2 num=3 num=4
    c=0
    for var in range(1,num+1):#(1,1)(1,2)(1,3)(1,4)
        if num%var==0:
            c+=1
    if c==2:
        print(num,end=" ")

1
10
2 3 5 7

In [45]:
## print 1 to 10 tables 
i=1
while i<=10:
    j=1
    while j<=10:
        print(i,"*",j,"=",i*j)
        j+=1
    print()
    i+=1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

# nested while
-m loop inside another loop

In [ ]:
# syntax
initilization
while condition:
    statements
    incr/decr
    while condition:
        statements
        incr/decr

### jump statements
- we called as unconditional jumps
- break
- continue
- pass

### break
- terminates the current loop statements
- break is a keyword

In [47]:
for i in "python":
    if i=='h':
        break
    print(i)

p
y
t

In [ ]:
n=1
while n<=10:
    print(n)

### continue
- it skips the current iteration and continue the next iteration
- continue is also a keyword

In [53]:
for i in range(10):
    if i==6:
        continue
        print("fdp")
    print(i)

0
1
2
3
4
5
7
8
9

In [54]:
### print odd number using even number condition using continue statement
for i in range(1,10):
    if i%2==0:
        continue
    print(i,end=" ")

1 3 5 7 9

### pass 
- it is a keyword
- when we need condition scientifically correct need to changes another operation
- it is a null operator
- pass statement we use to create empty class also

In [56]:
s="python"
for i in s:
    if i=='h':
        pass
        print("pass exicuted")
    print(i)

p
y
t
pass exicuted
h
o
n

### strings
- string is a group of character
- string is derived datatype and immutable
- all strings are return a new values

In [61]:
a="vasavicollege"
print(type(a))

<class 'str'>

In [62]:
print(len(a))

13

In [63]:
print(min(a))
print(max(a))
print(sorted(a))
#print(sum(a))

a
v
['a', 'a', 'c', 'e', 'e', 'g', 'i', 'l', 'l', 'o', 's', 'v', 'v']

In [60]:
s="python"
s1="workshop"
print(s+s1)
print(s,s1)
print(s*s1)

pythonworkshop
python workshop

TypeError: can't multiply sequence by non-int of type 'str'

In [70]:
### slicing syntax::(start:end:step)
# positive  indexing(left to right)
# negative indexing(right to left)
s="python workshop"
print(len(s))
print(s[0])
print(s[5])
print(s[14])
print(s[-1])
print(s[-2])
print(s[::])
print(s[::-1])
print(s[0:4])
print(s[5:12])
print(s[-1:-5])

15
p
n
p
p
o
python workshop
pohskrow nohtyp
pyth
n works